<div class="container-scroller">
  <% const BASE_URL = process.env.BASE_URL %>
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="/vendor-dashboard"><img src="<%= BASE_URL %>/assets/images/takedevbg.png"
            alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="/vendor-dashboard"><img src="../../assets/images/logo-mini.svg"
            alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        <div class="search-field d-none d-md-block">
          <!-- <form class="d-flex align-items-center h-100" action="#">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <i class="input-group-text border-0 mdi mdi-magnify"></i>
              </div>
              <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
            </div>
          </form> -->
        </div>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="/vendor-dashboard" data-bs-toggle="dropdown"
              aria-expanded="false">
              <div class="nav-profile-img">
                <img src="${profileImage}" alt="image" id="profileImagedisplay">
                <span class="availability-status online"></span>
              </div>
              <div class="nav-profile-text" id="emailContainer">
                <p class="mb-1 text-black"></p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="/view-Profile" id="editProfileLink" onclick="getVendors()">
                <i class="mdi mdi-account-edit me-2 text-primary"></i> View Profile
              </a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" id="logoutButton">
                <i class="mdi mdi-logout me-2 text-primary"></i> Signout
              </a>
            </div>
          </li>
          <li class="nav-item d-none d-lg-block full-screen-link">
            <a class="nav-link">
              <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
            </a>
          </li>

        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          
          <li class="nav-item">
            <a class="nav-link" href="/vendor-dashboard">
              <span class="menu-title">Dashboard</span>
              <i class="mdi mdi-home menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">

          </li>

          <li class="nav-item">
            <a class="nav-link" href="/vendor-technology">
              <span class="menu-title">Technology</span>
              <i class="mdi mdi-cogs menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vendor-developer">
              <span class="menu-title">Developer</span>
              <i class="mdi mdi-laptop menu-icon"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/requirements">
              <span class="menu-title">Requirement</span>
              <i class="mdi mdi-requirement-icon"></i>
            </a>
          </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> </h3>

          </div>

        </div>
        <!-- content-wrapper ends -->

        <script>

          const token = localStorage.getItem("vendorToken");

          document.addEventListener("DOMContentLoaded", function () {
            const logoutButton = document.getElementById("logoutButton");

            logoutButton.addEventListener("click", async function (event) {
              event.preventDefault();

              try {
                console.log("Ready to logout");
                const response = await fetch(
                  "<%= BASE_URL %>/vendor/logout-vendor",
                  {
                    method: "POST",
                    headers: {
                      Authorization: `Bearer ${token}`, 
                      "Content-Type": "application/json",
                    },
                  }
                );

                if (response.ok) {
                  const responseData = await response.json();
                  window.location.href = "/login";
                  localStorage.removeItem("vendorToken");
                  localStorage.removeItem("vendorId");
                  localStorage.removeItem("vendorEmail");
                } else {
                  // Handle error responses
                  const errorData = await response.json();
                  console.error("Logout failed:", errorData);
                }
              } catch (error) {
                console.error("Error during logout:", error);
              }
            });
          });


          var userEmail = localStorage.getItem('adminEmail');
          var companyName = localStorage.getItem('company_name');
          var profileImage = localStorage.getItem('profileImage');

          var profileImageDisplay = document.getElementById('profileImagedisplay');
          if (profileImageDisplay) {
            var image = new Image();
            image.src = profileImage;
            image.onload = function () {
              profileImageDisplay.src = profileImage;
              profileImageDisplay.style.width = '40px'; // Set the desired width
              profileImageDisplay.style.height = '40px'; // Set the desired height
            };
            image.onerror = function () {
              console.error("Error loading profile image:", profileImage);
            }
          } else {
            console.error("Profile image element not found in the DOM");
          }

          console.log("AdminEMail------------", userEmail);
          console.log("Profile Image------------", profileImage);
          // Render the email using EJS
          document.getElementById('emailContainer').innerHTML = `<p class="mb-1 text-black">${companyName}</p>`;


          document.getElementById('emailContainer2').innerHTML = `<p class="mb-1 text-black">${companyName}</p>`;




        </script>